<a href="https://colab.research.google.com/github/SIRI1023/SIRI1023.github.io/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas

In [ ]:
! pip install -q kaggle

from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"sirigovvala","key":"af55e0df964ff1611c2839648ef47bbd"}'}

In [ ]:
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

In [ ]:
 ! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              234KB  2021-07-24 09:20:05           9795
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           6029
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           2227
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-07-03 18:37:20           2487
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1017
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           1448
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23            826
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            807
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            695
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04            670
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            238
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            252
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            101
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            163
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            120
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            109
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         145308
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         140851
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          25211
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          20199

In [ ]:
!kaggle datasets download -d mattiuzc/stock-exchange-data

stock-exchange-data.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!ls /content

allsides.csv					  indexProcessed.csv
allsides.json					  kaggle.json
allsides-ratings-of-bias-in-electronic-media.zip  sample_data
indexData.csv					  stock-exchange-data.zip
indexInfo.csv

In [ ]:
!unzip '/content/stock-exchange-data.zip' -d '/content/'

Archive:  /content/stock-exchange-data.zip
replace /content/indexData.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [4]:
import pandas as pd

In [9]:
df = pd.read_csv('indexData.csv')

In [10]:
df

       Index        Date         Open  ...        Close    Adj Close       Volume
0        NYA  1965-12-31   528.690002  ...   528.690002   528.690002          0.0
1        NYA  1966-01-03   527.210022  ...   527.210022   527.210022          0.0
2        NYA  1966-01-04   527.840027  ...   527.840027   527.840027          0.0
3        NYA  1966-01-05   531.119995  ...   531.119995   531.119995          0.0
4        NYA  1966-01-06   532.070007  ...   532.070007   532.070007          0.0
...      ...         ...          ...  ...          ...          ...          ...
112452  N100  2021-05-27  1241.119995  ...  1247.069946  1247.069946  379696400.0
112453  N100  2021-05-28  1249.469971  ...  1256.599976  1256.599976  160773400.0
112454  N100  2021-05-31  1256.079956  ...  1248.930054  1248.930054   91173700.0
112455  N100  2021-06-01  1254.609985  ...  1258.579956  1258.579956  155179900.0
112456  N100  2021-06-02  1258.489990  ...  1263.619995  1263.619995  148465000.0

[112457 rows x 8 columns]

In [ ]:
df.High.idxmax()

92390

In [ ]:
ratio_df = (df['High']/df['Low'])
ratio_df

0         1.000000
1         1.000000
2         1.000000
3         1.000000
4         1.000000
            ...
112452    1.008694
112453    1.008150
112454    1.008605
112455    1.008808
112456    1.004347
Length: 112457, dtype: float64

In [ ]:
ratio_df.idxmax()

106003

In [ ]:
ratio_df[106003]

1.261069359821139

In [7]:
df1 = pd.read_csv('indexInfo.csv')

In [8]:
df1

           Region                          Exchange      Index Currency
0   United States           New York Stock Exchange        NYA      USD
1   United States                            NASDAQ       IXIC      USD
2       Hong Kong          Hong Kong Stock Exchange        HSI      HKD
3           China           Shanghai Stock Exchange  000001.SS      CNY
4           Japan              Tokyo Stock Exchange       N225      JPY
5          Europe                          Euronext       N100      EUR
6           China           Shenzhen Stock Exchange  399001.SZ      CNY
7          Canada            Toronto Stock Exchange     GSPTSE      CAD
8           India  National Stock Exchange of India       NSEI      INR
9         Germany          Frankfurt Stock Exchange      GDAXI      EUR
10          Korea                    Korea Exchange       KS11      KRW
11    Switzerland                SIX Swiss Exchange       SSMI      CHF
12         Taiwan             Taiwan Stock Exchange       TWII      TWD
13   South Africa       Johannesburg Stock Exchange    J203.JO      ZAR

In [ ]:
stock_values = (df1.Exchange.str.count('Stock') + df1.Exchange.str.count('Exchange')).sum()
stock_values

22

In [ ]:
stock_values.sum()

22

In [ ]:
df1.Exchange.str.contains('Stock').sum()

10

In [ ]:
df1.Exchange.str.contains('Stock')

0      True
1     False
2      True
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10    False
11    False
12     True
13     True
Name: Exchange, dtype: bool

In [ ]:
series = pd.Series(df1.Region)
series

0     United States
1     United States
2         Hong Kong
3             China
4             Japan
5            Europe
6             China
7            Canada
8             India
9           Germany
10            Korea
11      Switzerland
12           Taiwan
13     South Africa
Name: Region, dtype: object

In [ ]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'],index=['Flour', 'Milk', 'Eggs', 'spam'], name ='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
spam       1 can
Name: Dinner, dtype: object

In [ ]:
!ls /content

indexData.csv  indexProcessed.csv  sample_data
indexInfo.csv  kaggle.json	   stock-exchange-data.zip

In [ ]:
df1

           Region                          Exchange      Index Currency
0   United States           New York Stock Exchange        NYA      USD
1   United States                            NASDAQ       IXIC      USD
2       Hong Kong          Hong Kong Stock Exchange        HSI      HKD
3           China           Shanghai Stock Exchange  000001.SS      CNY
4           Japan              Tokyo Stock Exchange       N225      JPY
5          Europe                          Euronext       N100      EUR
6           China           Shenzhen Stock Exchange  399001.SZ      CNY
7          Canada            Toronto Stock Exchange     GSPTSE      CAD
8           India  National Stock Exchange of India       NSEI      INR
9         Germany          Frankfurt Stock Exchange      GDAXI      EUR
10          Korea                    Korea Exchange       KS11      KRW
11    Switzerland                SIX Swiss Exchange       SSMI      CHF
12         Taiwan             Taiwan Stock Exchange       TWII      TWD
13   South Africa       Johannesburg Stock Exchange    J203.JO      ZAR

In [ ]:
df1.groupby('Region').apply(lambda fs: fs.Index.iloc[0])

Region
Canada              GSPTSE
China            000001.SS
Europe                N100
Germany              GDAXI
Hong Kong              HSI
India                 NSEI
Japan                 N225
Korea                 KS11
South Africa       J203.JO
Switzerland           SSMI
Taiwan                TWII
United States          NYA
dtype: object

In [ ]:
!kaggle datasets download -d supratimhaldar/allsides-ratings-of-bias-in-electronic-media

Downloading allsides-ratings-of-bias-in-electronic-media.zip to /content
  0% 0.00/31.6k [00:00<?, ?B/s]
100% 31.6k/31.6k [00:00<00:00, 52.7MB/s]

In [ ]:
!unzip '/content/allsides-ratings-of-bias-in-electronic-media' -d '/content/'

Archive:  /content/allsides-ratings-of-bias-in-electronic-media.zip
  inflating: /content/allsides.csv
  inflating: /content/allsides.json

In [ ]:
!ls /content/

allsides.csv					  indexProcessed.csv
allsides.json					  kaggle.json
allsides-ratings-of-bias-in-electronic-media.zip  sample_data
indexData.csv					  stock-exchange-data.zip
indexInfo.csv

In [5]:
rating_df = pd.read_csv('allsides.csv')
rating_df

                  name  ...                                      allsides_page
0    ABC News (Online)  ...  https://www.allsides.com/news-source/abc-news-...
1        Above The Law  ...  https://www.allsides.com/news-source/above-law...
2         Abridge News  ...  https://www.allsides.com/news-source/abridge-n...
3                  AJ+  ...  https://www.allsides.com/news-source/aj-media-...
4           Al Jazeera  ...  https://www.allsides.com/news-source/al-jazeer...
..                 ...  ...                                                ...
433            WND.com  ...        https://www.allsides.com/news-source/wndcom
434         Yahoo News  ...  https://www.allsides.com/news-source/yahoo-new...
435     Yahoo! The 360  ...  https://www.allsides.com/news-source/yahoo-360...
436      Yes! Magazine  ...  https://www.allsides.com/news-source/yes-magazine
437          ZeroHedge  ...  https://www.allsides.com/news-source/zerohedge...

[438 rows x 8 columns]

In [ ]:
rating_df.groupby(['name', 'bias']).apply(lambda df: df.loc[df.agree.idxmax()])

                                                           name  ...                                      allsides_page
name                     bias                                    ...
ABC News (Online)        left-center          ABC News (Online)  ...  https://www.allsides.com/news-source/abc-news-...
AJ+                      left                               AJ+  ...  https://www.allsides.com/news-source/aj-media-...
AP Politics & Fact Check left-center   AP Politics & Fact Check  ...  https://www.allsides.com/news-source/ap-fact-c...
AZ Central               center                      AZ Central  ...  https://www.allsides.com/news-source/az-centra...
Above The Law            left-center              Above The Law  ...  https://www.allsides.com/news-source/above-law...
...                                                         ...  ...                                                ...
Wisconsin Gazette        left-center          Wisconsin Gazette  ...  https://www.allsides.com/news-source/wisconsin...
Yahoo News               left-center                 Yahoo News  ...  https://www.allsides.com/news-source/yahoo-new...
Yahoo! The 360           allsides                Yahoo! The 360  ...  https://www.allsides.com/news-source/yahoo-360...
Yes! Magazine            left                     Yes! Magazine  ...  https://www.allsides.com/news-source/yes-magazine
ZeroHedge                right-center                 ZeroHedge  ...  https://www.allsides.com/news-source/zerohedge...

[438 rows x 8 columns]

In [6]:
rating_df.groupby(['name']).total_votes.agg([len, min, max])

                          len    min    max
name
ABC News (Online)           1  51173  51173
AJ+                         1    740    740
AP Politics & Fact Check    1   9027   9027
AZ Central                  1    586    586
Above The Law               1    346    346
...                       ...    ...    ...
Wisconsin Gazette           1    465    465
Yahoo News                  1   6147   6147
Yahoo! The 360              1    449    449
Yes! Magazine               1    689    689
ZeroHedge                   1    229    229

[438 rows x 3 columns]

In [14]:
index_df = df.groupby(['Index']).Open.agg([len, min, max])
index_df

               len           min           max
Index
000001.SS   5963.0   1007.901001   6057.428223
399001.SZ   5928.0   2533.270020  19554.580080
GDAXI       8606.0    936.000000  15548.290040
GSPTSE     10776.0   1352.000000  19905.800780
HSI         8750.0   1950.500000  33335.480470
IXIC       12690.0     54.869999  14204.509770
J203.JO     2387.0  32887.449220  68775.062500
KS11        6181.0    283.410004   3239.919922
N100        5507.0    427.600006   1258.489990
N225       14500.0   1020.489990  38921.648440
NSEI        3381.0   2553.600098  15437.750000
NYA        13948.0    347.769989  16590.429690
SSMI        7830.0   1288.699951  11345.400390
TWII        6010.0   3475.870117  17646.929690

In [15]:
index_df.sort_values(by='len')

               len           min           max
Index
J203.JO     2387.0  32887.449220  68775.062500
NSEI        3381.0   2553.600098  15437.750000
N100        5507.0    427.600006   1258.489990
399001.SZ   5928.0   2533.270020  19554.580080
000001.SS   5963.0   1007.901001   6057.428223
TWII        6010.0   3475.870117  17646.929690
KS11        6181.0    283.410004   3239.919922
SSMI        7830.0   1288.699951  11345.400390
GDAXI       8606.0    936.000000  15548.290040
HSI         8750.0   1950.500000  33335.480470
GSPTSE     10776.0   1352.000000  19905.800780
IXIC       12690.0     54.869999  14204.509770
NYA        13948.0    347.769989  16590.429690
N225       14500.0   1020.489990  38921.648440

In [13]:
df.Index.min()

'000001.SS'

In [12]:
df.Index.max()

'TWII'

In [17]:
date_df1 = df.groupby(['Date']).High.agg([len, min, max])
date_df1

             len           min           max
Date
1965-01-05   1.0   1257.719971   1257.719971
1965-01-06   1.0   1263.989990   1263.989990
1965-01-07   1.0   1274.270020   1274.270020
1965-01-08   1.0   1286.430054   1286.430054
1965-01-11   1.0           NaN           NaN
...          ...           ...           ...
2021-05-28  14.0   1259.209961  67726.562500
2021-05-31  12.0   1258.880005  68140.851560
2021-06-01   4.0   1265.660034  29075.470700
2021-06-02   3.0   1263.709961  29003.550780
2021-06-03   1.0  29157.160160  29157.160160

[14731 rows x 3 columns]

In [20]:
date_df1 = date_df1.reset_index()
date_df1

             Date   len           min           max
0      1965-01-05   1.0   1257.719971   1257.719971
1      1965-01-06   1.0   1263.989990   1263.989990
2      1965-01-07   1.0   1274.270020   1274.270020
3      1965-01-08   1.0   1286.430054   1286.430054
4      1965-01-11   1.0           NaN           NaN
...           ...   ...           ...           ...
14726  2021-05-28  14.0   1259.209961  67726.562500
14727  2021-05-31  12.0   1258.880005  68140.851560
14728  2021-06-01   4.0   1265.660034  29075.470700
14729  2021-06-02   3.0   1263.709961  29003.550780
14730  2021-06-03   1.0  29157.160160  29157.160160

[14731 rows x 4 columns]

In [21]:
date_df1.sort_values( by='min')

             Date   len           min           max
0      1965-01-05   1.0   1257.719971   1257.719971
1      1965-01-06   1.0   1263.989990   1263.989990
2      1965-01-07   1.0   1274.270020   1274.270020
3      1965-01-08   1.0   1286.430054   1286.430054
4      1965-01-11   1.0           NaN           NaN
...           ...   ...           ...           ...
14726  2021-05-28  14.0   1259.209961  67726.562500
14727  2021-05-31  12.0   1258.880005  68140.851560
14728  2021-06-01   4.0   1265.660034  29075.470700
14729  2021-06-02   3.0   1263.709961  29003.550780
14730  2021-06-03   1.0  29157.160160  29157.160160

[14731 rows x 4 columns]

In [1]:
!ls /content/

allsides.csv					  indexProcessed.csv
allsides.json					  kaggle.json
allsides-ratings-of-bias-in-electronic-media.zip  sample_data
indexData.csv					  stock-exchange-data.zip
indexInfo.csv